/*
	@name air_filter
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1500px; width: 1500px; height: 1234px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__air_filter {
	opacity:0.95;
	top: 0px;
	left: 0px;
	width: 1500px;
	height: 1234px;
	background:rgba(176,176,176,1);
	border-radius: 50px;
}


#an_air_filter_is_a_crucial_component_of_your_vehicle_s_engine_system__designed_to_keep_harmful_debris__dirt__and_contaminants_from_entering_the_engine__a_clean_air_filter_ensures_optimal_airflow__which_helps_maintain_engine_performance__fuel_efficiency__and_reduces_emissions_ {
	top: 713px;
	left: 109px;
	width: 1295px;
	height: 264px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#an_air_filter_is_a_crucial_component_of_your_vehicle_s_engine_system__designed_to_keep_harmful_debris__dirt__and_contaminants_from_entering_the_engine__a_clean_air_filter_ensures_optimal_airflow__which_helps_maintain_engine_performance__fuel_efficiency__and_reduces_emissions_:before {

	content: "An air filter is a crucial component of your vehicle's engine system, designed to keep harmful debris, dirt, and contaminants from entering the engine. A clean air filter ensures optimal airflow, which helps maintain engine performance, fuel efficiency, and reduces emissions.";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#price__vnd_1_200_000 {
	top: 999px;
	left: 204px;
	width: 452px;
	height: 101px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#price__vnd_1_200_000:before {

	content: "Price: VND 1 200 000";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FF0000;
}


#air_filter {
	top: 75px;
	left: 511px;
	width: 499px;
	height: 186px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 90px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#air_filter:before {

	content: "AIR FILTER";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #1D2951;
}


#___img__bl_back {
	top: 38px;
	left: 51px;
	width: 160px;
	height: 160px;
	cursor: pointer;

}

#___img__group_22 {
	top: 958px;
	left: 911px;
	width: 327px;
	height: 163px;
}
#group_21 {
	top: 0px;
	left: 31px;
	width: 296px;
	height: 69px;
}

#rectangle_23 {
	top: 0px;
	left: 0px;
	width: 296px;
	height: 69px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 4px solid #000000;
	background:rgba(255,140,0,1);
}


#add_to_cart {
	top: 7px;
	left: 40px;
	width: 227px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
	cursor: pointer;
}
#add_to_cart:before {

	content: "Add to cart";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#___img__bl_cart {
	top: 48px;
	left: 0px;
	width: 115px;
	height: 115px;
}


#image_18 {
	top: 198px;
	left: 366px;
	width: 768px;
	height: 491px;
}



/* Add your custom CSS here */
