/*
	@name flat_tires
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1500px; width: 1500px; height: 1234px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__flat_tires {
	opacity:0.95;
	top: 0px;
	left: 0px;
	width: 1500px;
	height: 1234px;
	background:rgba(176,176,176,1);
        border-radius: 50px;
}


#our_mobile_tire_service_provides_on_the_spot_flat_tire_repairs_or_replacements__bringing_the_necessary_tools_and_expertise_directly_to_your_location__this_service_ensures_you_can_get_back_on_the_road_quickly_and_safely_without_the_hassle_of_towing_or_finding_a_nearby_repair_shop_ {
	top: 713px;
	left: 74px;
	width: 1364px;
	height: 264px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#our_mobile_tire_service_provides_on_the_spot_flat_tire_repairs_or_replacements__bringing_the_necessary_tools_and_expertise_directly_to_your_location__this_service_ensures_you_can_get_back_on_the_road_quickly_and_safely_without_the_hassle_of_towing_or_finding_a_nearby_repair_shop_:before {

	content: "Our mobile tire service provides on-the-spot flat tire repairs or replacements, bringing the necessary tools and expertise directly to your location. This service ensures you can get back on the road quickly and safely without the hassle of towing or finding a nearby repair shop.";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#price__vnd_150_000 {
	top: 999px;
	left: 204px;
	width: 452px;
	height: 101px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#price__vnd_150_000:before {

	content: "Price: VND 150 000";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FF0000;
}


#flat_tires {
	top: 75px;
	left: 497px;
	width: 527px;
	height: 186px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 90px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#flat_tires:before {

	content: "FLAT TIRES";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #1D2951;
}


#___img__bl_back {
	top: 38px;
	left: 51px;
	width: 160px;
	height: 160px;
	cursor: pointer;

}

#___img__group_22 {
	top: 958px;
	left: 911px;
	width: 327px;
	height: 163px;
}
#group_21 {
	top: 0px;
	left: 31px;
	width: 296px;
	height: 69px;
}

#rectangle_23 {
	top: 0px;
	left: 0px;
	width: 296px;
	height: 69px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 4px solid #000000;
	background:rgba(255,140,0,1);
}


#add_to_cart {
	top: 7px;
	left: 40px;
	width: 227px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
	cursor: pointer;
}
#add_to_cart:before {

	content: "Add to cart";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#___img__bl_cart {
	top: 48px;
	left: 0px;
	width: 115px;
	height: 115px;
}


#image_26 {
	top: 198px;
	left: 366px;
	width: 768px;
	height: 491px;
}



/* Add your custom CSS here */
