/*
	@name sign_up_page
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:auto; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1920px; height: 1920px; margin-left: auto; margin-right: auto;  }
.popup{
	width: 500px;
	height: 400px;
	background: rgba(29,41,81,1);
	position: absolute;
	right: 50%;
	left: 50%;
	margin-top: 0;
	transform: translate(-50%,-50%) scale(0.1);
	text-align: center;
	padding: 30px 30px;
	color: #ffffff;
	border-radius: 50px;
	visibility: hidden;
	transition: transform 0.4s, top 0,4s;
}
.open-popup{
	visibility:  visible;
	right: 50%;
	left: 50%;
	margin-top: -300%;
	transform: translate(-50%,-50%) scale(1);

}
.popup img{
	width: 200px;
	height: 200px;
	position: relative;
	margin-left:-100px;
	left: 50%;
	right: 50%;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
	font-size: 38px;
	font-weight: 500;
	margin: 30px 0 10px;

}
.popup button{
	width: 100%;
	margin-top: 50px;
	padding: 10px 0;
	background: #6fd649;
	color:#fff;
	border:0;
	outline: none;
	font-size: 18px;
	border-radius: 4px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}
.signup_box{
	width: 300px;
	height: 50px;
	background:	#fff;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	top: 1600px;
	left: 810px;
}
.submit{
	padding: 30px 90px;
	background: #FF8C00;
	border: 0;
	outline: none;
	cursor: pointer;
	font-size: 35px;
	font-weight: 500;
	border-radius: 50px;
	opacity: 1;
}
#form-box{
	position: absolute;
	top: 425px;
	left: 390px;
	width: 1000px;
	height: 1000px;
	background: rgba(0,0,0,0);
	padding:  50px 0;
	color: #000000;
	border: none;
    outline: none;
}

.input-mail {
    margin-top: 0px;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.input-mail input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000; /* Change to #fff if background is dark */
    padding: 10px 0;
    font-size: 50px;
	opacity: 0.65;
}

.input-pass {
    margin: 165px auto;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

}

.input-pass input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000; /* Change to #fff if background is dark */
    padding: 10px 0;
    font-size: 50px;
	opacity: 0.65;
}
.input-repass {
    margin: 340px auto;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

}

.input-repass input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000; /* Change to #fff if background is dark */
    padding: 10px 0;
    font-size: 50px;
	opacity: 0.65;
}
.input-name {
    margin: 505px auto;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

}

.input-name input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000; /* Change to #fff if background is dark */
    padding: 10px 0;
    font-size: 50px;
	opacity: 0.65;
}
.input-phonenumber {
    margin: 685px auto;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

}

.input-phonenumber input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000; /* Change to #fff if background is dark */
    padding: 10px 0;
    font-size: 50px;
	opacity: 0.65;
}
.input-address {
    margin: 850px auto;
    width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;

}

.input-address input {
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    color: #000000; /* Change to #fff if background is dark */
    padding: 10px 0;
    font-size: 50px;
	opacity: 0.65;
}


#_bg__sign_up_page {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1920px;
	background:rgba(255,255,255,1);
}


#title_box {
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 109px;
	background:rgba(42,52,57,1);
}


#rectangle_16 {
	top: 484px;
	left: 348px;
	width: 1223px;
	height: 95px;
}


#rectangle_20 {
	top: 1166px;
	left: 348px;
	width: 1223px;
	height: 95px;
}


#rectangle_18 {
	top: 825px;
	left: 348px;
	width: 1223px;
	height: 95px;
}


#rectangle_17 {
	top: 648px;
	left: 348px;
	width: 1223px;
	height: 95px;
}


#rectangle_22 {
	top: 1330px;
	left: 348px;
	width: 1223px;
	height: 95px;
}


#rectangle_19 {
	top: 989px;
	left: 348px;
	width: 1223px;
	height: 95px;
}


#___img__bl_logo {
	top: 109px;
	left: 529px;
	width: 862px;
	height: 307px;
}


#__e_mail_ {
	top: 432px;
	left: 370px;
	width: 189px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#__e_mail_:before {

	content: "*";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #ff0000;
}
#__e_mail_::after {

	content: "E-mail:";
	position: absolute;
	top: 0px;
	left: 20px;
	color: #000000;
}


#__phone_number_ {
	top: 1114px;
	left: 370px;
	width: 336px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#__phone_number_:before {

	content: "*";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #ff0000;
}
#__phone_number_::after {

	content: "Phone number:";
	position: absolute;
	top: 0px;
	left: 20px;
	color: #000000;
}


#__re_enter_password_ {
	top: 773px;
	left: 370px;
	width: 418px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#__re_enter_password_:before {

	content: "*";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #ff0000;
}
#__re_enter_password_::after {

	content: "Re-enter password:";
	position: absolute;
	top: 0px;
	left: 20px;
	color: #000000;
}


#__password_ {
	top: 594px;
	left: 370px;
	width: 310px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#__password_:before {

	content: "*";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #ff0000;
}
#__password_::after {

	content: "Password:";
	position: absolute;
	top: 0px;
	left: 20px;
	color: #000000;
}


#__address_ {
	top: 1276px;
	left: 370px;
	width: 219px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#__address_:before {

	content: "*";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #ff0000;
}
#__address_::after {

	content: "Address:";
	position: absolute;
	top: 0px;
	left: 20px;
	color: #000000;
}



#___when_signing_up__you_have_agreed_our_policy__ {
	top: 1524px;
	left: 530px;
	width: 830px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: center;
	color: rgba(0, 0, 0, 0);
	opacity: 1;
}
#___when_signing_up__you_have_agreed_our_policy__:before {

	content: "! When signing up, you have agreed our";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #000000;
}
#___when_signing_up__you_have_agreed_our_policy__::after {

	content: "policy";
	position: absolute;
	top: 0px;
	left: 840px;
	color: #ff0000;
}

#_____required_fields_ {
	top: 1447px;
	left: 370px;
	width: 372px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#_____required_fields_:before {

	content: "*";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FF0000;
}


#__name_ {
	top: 935px;
	left: 370px;
	width: 179px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: left;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#__name_:before {

	content: "*";
	position: absolute;
	top: 0px;
	left: 0px;
	color: #ff0000;
}
#__name_::after {

	content: "Name:";
	position: absolute;
	top: 0px;
	left: 20px;
	color: #000000;
}
#___img__signup_box {
	top: 1593px;
	left: 829px;
	width: 261.29px;
	height: 90px;
}
#group_3 {
	top: 0px;
	left: 0px;
	width: 261.29px;
	height: 90px;
}

#rectangle_18_ek1 {
	top: 0px;
	left: 0px;
	width: 261.29px;
	height: 90px;
}


#sign_up {
	top: 16px;
	left: 49px;
	width: 175px;
	height: 86px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#sign_up:before {

	content: "Sign up";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#___img__bl_back {
	top: 109px;
	left: 0px;
	width: 160px;
	height: 160px;
	cursor: pointer;
}



/* Add your custom CSS here */
