/*
	@name tires_change
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1500px; width: 1500px; height: 1234px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#_bg__tires_change {
	opacity:0.95;
	top: 0px;
	left: 0px;
	width: 1500px;
	height: 1234px;
	background:rgba(176,176,176,1);
        border-radius: 50px;
}


#tires_are_crucial_for_vehicle_safety_and_performance__regular_maintenance__including_checking_pressure__alignment__and_tread_depth__ensures_optimal_handling_and_fuel_efficiency__rotate_tires_regularly_to_promote_even_wear_and_extend_their_lifespan__when_replacing__choose_the_right_type_and_size_for_your_vehicle_to_maintain_safety_and_performance_ {
	top: 713px;
	left: 80px;
	width: 1352px;
	height: 264px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#tires_are_crucial_for_vehicle_safety_and_performance__regular_maintenance__including_checking_pressure__alignment__and_tread_depth__ensures_optimal_handling_and_fuel_efficiency__rotate_tires_regularly_to_promote_even_wear_and_extend_their_lifespan__when_replacing__choose_the_right_type_and_size_for_your_vehicle_to_maintain_safety_and_performance_:before {

	content: "Tires are crucial for vehicle safety and performance. Regular maintenance, including checking pressure, alignment, and tread depth, ensures optimal handling and fuel efficiency. Rotate tires regularly to promote even wear and extend their lifespan. When replacing, choose the right type and size for your vehicle to maintain safety and performance.";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#price__vnd_1_500_000___each {
	top: 1058px;
	left: 135px;
	width: 595px;
	height: 101px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#price__vnd_1_500_000___each:before {

	content: "Price: VND 1 500 000 / each";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #FF0000;
}


#tires_change {
	top: 75px;
	left: 412px;
	width: 697px;
	height: 186px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 90px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
}
#tires_change:before {

	content: "TIRES CHANGE";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #1D2951;
}


#___img__bl_back {
	top: 38px;
	left: 51px;
	width: 160px;
	height: 160px;
	cursor: pointer;

}

#___img__group_22 {
	top: 1017px;
	left: 911px;
	width: 327px;
	height: 163px;
}
#group_21 {
	top: 0px;
	left: 31px;
	width: 296px;
	height: 69px;
}

#rectangle_23 {
	top: 0px;
	left: 0px;
	width: 296px;
	height: 69px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	border: 4px solid #000000;
	background:rgba(255,140,0,1);
}


#add_to_cart {
	top: 7px;
	left: 40px;
	width: 227px;
	height: 83px;
	overflow: hidden;
	font-family: Nunito;
	font-size: 40px;
	text-align: center;
	color: rgba(0,0,0,0);
	opacity: 1;
	cursor: pointer;
}
#add_to_cart:before {

	content: "Add to cart";
	position: absolute;
	top: 0px;
	left: 4px;
	color: #000000;
}


#___img__bl_cart {
	top: 48px;
	left: 0px;
	width: 115px;
	height: 115px;
}


#image_25 {
	top: 198px;
	left: 366px;
	width: 768px;
	height: 491px;
}



/* Add your custom CSS here */
